/** 
    CSS for PC Club Website
    Form Animation by Takuma.I
    Button Animation also by some guy from Code Pen
**/

/* Universal Properties */
body {
    background: white;
    font-family: 'Fira Code', monospace;
    margin: 0;
    position: relative;
}

/* Bold Style */
.bold {
    font-weight: bold;
}

/* Text Styles */

.title {
    font-size: 50px;
    margin: 0;
    color: #000000;
}

.subtitle {
    font-size: 22px;
    color: #727272;
    margin-bottom: 30px;
}

.small_subtitle {
    font-size: 18px;
    color: #727272;
    margin-bottom: 20px;
}

/* Icons */

.camerathing {
    position: absolute;
    top: 25px;
    right: 25px;
}

.icons {
    width: 30px;
    border: 0;
}

/* <a href> links */

a:link,
a:visited {
    text-decoration: none;
    color: rgba(43, 179, 255, 0.8)
}

a:link:hover,
a:visited:hover {
    color: rgba(43, 179, 255, 0.61)
}

/* Sections (blocks) spacing and style */
/* irst white block */
.intro {
    background: white;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

.intro {
    height: 99vh;
}

@media only screen and (max-width: 600px) {
    .intro {
        height: 87vh;
    }
}

/* Black box (generally used for smaller things) */
.subsection {
    color: white;
    text-align: center;
    background: black;
    padding: 50px;
}

/* Main section for main content */
.section {
    background: #191919;
}

.main-content {
    margin: 0 auto;
    color: white;
    padding: 40px 20px;
    overflow-x: hidden;
    max-width: 1000px;
}

.main-content>div>p {
    line-height: 1.4;
}

.main-content>div>ul {
    line-height: 1.4;
}

/* Button Design | Animation */

.btn {
    margin: 0 auto;
    line-height: 50px;
    height: 50px;
    text-align: center;
    width: 250px;
}

.btn-one {
    color: #5e5e5e;
    transition: all 0.3s;
    position: relative;
}

.btn-one span {
    transition: all 0.3s;
}

.btn-one::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: rgba(50, 50, 50, 0.5);
    border-bottom-color: rgba(50, 50, 50, 0.5);
    transform: scale(0.1, 1);
}

.btn-one:hover span {
    letter-spacing: 2px;
}

.btn-one:hover::before {
    opacity: 1;
    transform: scale(1, 1);
}

.btn-one::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    transition: all 0.3s;
    background-color: rgba(0, 104, 157, 0.19);
}

.btn-one:hover::after {
    opacity: 0;
    transform: scale(0.1, 1);
}

/* Credits */

.footer {
    padding: 5vh 20px 20px;
    margin: 0 auto;
    max-width: 1000px;
}

.credits {
    font-size: 12px;
}

/* Input Fields Style | Animation */
.effect-21~.focus-border:before,
.effect-21~.focus-border:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 2px;
    background-color: #3399FF;
    transition: 0.2s;
    transition-delay: 0.2s;
}

.effect-21~.focus-border:after {
    top: auto;
    bottom: 0;
    right: auto;
    left: 0;
    transition-delay: 0.6s;
}

.effect-21~.focus-border i:before,
.effect-21~.focus-border i:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 0;
    background-color: #3399FF;
    transition: 0.2s;
}

.effect-21~.focus-border i:after {
    left: auto;
    right: 0;
    top: auto;
    bottom: 0;
    transition-delay: 0.4s;
}

.effect-21:focus~.focus-border:before,
.effect-21:focus~.focus-border:after,
.has-content.effect-21~.focus-border:before,
.has-content.effect-21~.focus-border:after {
    width: 100%;
    transition: 0.2s;
    transition-delay: 0.6s;
}

.effect-21:focus~.focus-border:after,
.has-content.effect-21~.focus-border:after {
    transition-delay: 0.2s;
}

.effect-21:focus~.focus-border i:before,
.effect-21:focus~.focus-border i:after,
.has-content.effect-21~.focus-border i:before,
.has-content.effect-21~.focus-border i:after {
    height: 100%;
    transition: 0.2s;
}

.effect-21:focus~.focus-border i:after,
.has-conten.effect-21~.focus-border i:after {
    transition-delay: 0.4s;
}

.effect-21~label {
    position: absolute;
    left: 14px;
    width: 100%;
    top: 10px;
    color: #aaa;
    transition: 0.3s;
    z-index: -1;
    letter-spacing: 0.5px;
}

.effect-21:focus~label,
.has-content.effect-21~label {
    top: -18px;
    left: 0;
    font-size: 12px;
    color: #3399FF;
    transition: 0.3s;
}