/** 
    CSS for PC Club Website
**/


/* Universal Properties */

::-moz-selection {
    color: white;
    background: #2bb3ffcc;
}

 ::selection {
    color: white;
    background: #2bb3ffcc;
}

body {
    position: relative;
    margin: 0;
    background: #f7f7f7;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-smooth: always;
}

a {
    text-decoration: none;
    color: #2bb3ffcc;
}

p,
li {
    opacity: .8;
    font-size: 18px;
}

h1 {
    margin: 0;
    font-size: 48px;
}

h2 {
    font-size: 25px;
}

h3 {
    font-size: 21px;
}

hr {
    height: 1px;
    border: 0;
    background: #000;
    opacity: 0.1;
}

img {
    -webkit-user-drag: none;
}

ul {
    margin: 0;
    list-style: none;
    padding-left: 1em;
}

ul li::before {
    display: inline-block;
    width: 1em;
    content: ".\2022 ";
    color: #2bb3ffcc;
    font-weight: bold;
}


/* Color */

.red {
    color: rgb(255, 69, 58);
}


/* lazy styles */

.bold {
    font-weight: bold;
}

.center {
    text-align: center;
}


/* Nav Bar */

nav {
    display: flex;
    position: fixed;
    width: calc(100vw - 40px);
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    z-index: 10;
    background: rgba(255, 255, 255, 0.822);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
}

nav>span {
    margin: 10px 5vw;
    font-size: 20px;
    font-weight: 700;
}

.icons {
    width: 30px;
    border: 0;
}


/* Sections (blocks) spacing and style */

.container {
    overflow-x: hidden;
}


/* first white block */

.intro {
    display: flex;
    position: relative;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: white;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.intro>.text {
    z-index: 1;
}

.subtitle {
    opacity: .5;
}

#nvidia-bg {
    display: flex;
    position: absolute;
    width: 100%;
    justify-content: center;
}

#nvidia-bg>img {
    width: 80%;
    min-width: 800px;
    max-width: 1100px;
    opacity: 0.05;
    -webkit-user-drag: none;
}

#annoucements {
    text-align: center;
}

#annoucements img {
    width: 80%;
    border-radius: 10px;
}

#information {
    text-align: initial;
}


/* Black box (generally used for smaller things) */

.subsection {
    padding: 50px;
    color: white;
    background: black;
}


/* Main section for main content */

.space {
    display: block;
    height: 100px;
    background: transparent;
}

.spaced {
    margin: 50px 0;
}

.section {
    display: flex;
    position: relative;
    justify-content: center;
    background: #191919;
    color: #fff;
}

.section.light {
    background: #f7f7f7;
    color: #191919;
}

.section.black {
    background: #000;
}

.split-content {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10vw;
    overflow-x: hidden;
}

.split-content>div.left {
    align-items: flex-start;
}

.split-content>div {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex-wrap: 1;
}

.split-content img {
    width: 80%;
    max-width: 1380px;
    margin-left: 50px;
}

.main-content {
    width: 100%;
    max-width: 1380px;
    min-height: 600px;
    margin: 0 auto;
    padding: 5vw;
    line-height: 1.5;
    overflow: hidden;
}

.main-content.bigger {
    max-width: 1500px;
    padding: 0;
}

.main-content>div>p {
    line-height: 1.4;
}

.main-content>div>ul {
    line-height: 1.4;
}


/* Button Design | Animation */

.main-link {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
    font-size: 20px;
    font-weight: 700;
}

.main-link>span {
    margin-right: 10px;
    transition: all .2s ease-out;
}

.main-link.small {
    margin: 10px 0;
    font-size: 20px;
}

.main-link:hover span:first-child {
    margin-right: 15px;
}

.btn {
    width: 250px;
    height: 50px;
    margin: 0 auto;
    line-height: 50px;
    text-align: center;
}

.btn-one {
    position: relative;
    color: #5e5e5e;
    transition: all 0.3s;
}

.btn-one span {
    transition: all 0.3s;
}

.btn-one::before {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    content: '';
    opacity: 0;
    transition: all 0.3s;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: rgba(50, 50, 50, 0.5);
    border-bottom-color: rgba(50, 50, 50, 0.5);
    transform: scale(0.1, 1);
}

.btn-one:hover span {
    letter-spacing: 2px;
}

.btn-one:hover::before {
    opacity: 1;
    transform: scale(1, 1);
}

.btn-one::after {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    content: '';
    transition: all 0.3s;
    background-color: rgba(0, 104, 157, 0.19);
}

.btn-one:hover::after {
    opacity: 0;
    transform: scale(0.1, 1);
}


/* Credits */

.footer {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

.footer p {
    font-size: 13px;
    font-weight: 400;
}

.credits {
    font-size: 12px;
}


/* Cards */

.grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

card {
    display: inline-flex;
    width: calc(100vw - 30px);
    max-width: calc(1320px / 3);
    height: 500px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.1) 0 30px 40px;
    transition: all .5s ease-out;
}

card:hover {
    transform: translateY(-15px);
    box-shadow: rgba(0, 0, 0, 0.1) 0 30px 60px;
    transition: all .2s ease-out;
}

card.small {
    width: calc(100vw - 30px);
    max-width: 400px;
    height: 300px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 10px 20px;
}


/* Card Components */

card>h3 {
    font-size: 30px !important;
    margin: 10px 0;
}

.price {
    display: inline-block;
    padding: 2px 8px;
    font-size: 16px !important;
    font-weight: 600;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

@media all and (min-width: 700px) {
    h1 {
        font-size: 65px;
    }
    h2 {
        font-size: 35px;
    }
    h3 {
        font-size: 30px;
    }
    p,
    li {
        font-size: 20px;
    }
    .main-link {
        margin: 60px 0;
        font-size: 30px;
    }
}

@media all and (max-width: 1000px) {
    .split-content {
        flex-direction: column;
    }
    .split-content>div {
        align-items: center !important;
        text-align: center;
    }
    .split-content img {
        margin: 0;
    }
}

@media all and (max-width: 400px) {
    h1 {
        font-size: 35px;
    }
    .main-link {
        font-size: 25px;
    }
    .main-content,
    .split-content,
    .subsection {
        padding: 20px 20px;
    }
}