/** 
    CSS for PC Club Website
**/


/* Universal Properties */

::-moz-selection {
    color: white;
    background: #2bb3ffcc;
}

 ::selection {
    color: white;
    background: #2bb3ffcc;
}

body {
    position: relative;
    margin: 0;
    background: #f7f7f7;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-smooth: always;
}

a {
    text-decoration: none;
    color: #2bb3ffcc;
}

p,
li {
    opacity: .8;
    font-size: 18px;
}

h1 {
    margin: 0;
    font-size: 48px;
}

h2 {
    font-size: 25px;
}

h3 {
    font-size: 21px;
}

hr {
    height: 1px;
    border: 0;
    background: #000;
    opacity: 0.1;
}

img {
    -webkit-user-drag: none;
}

.main-content ul {
    margin: 0;
    list-style: none;
    padding-left: 1em;
}

.main-content ul li::before {
    display: inline-block;
    width: 1em;
    content: ".\2022 ";
    color: #2bb3ffcc;
    font-weight: bold;
}


/* Color */

.red {
    color: rgb(255, 69, 58);
}


/* lazy styles */

.bold {
    font-weight: bold;
}

.center {
    text-align: center;
}


/* Nav Bar */

nav {
    display: flex;
    position: fixed;
    width: calc(100vw - 40px);
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    z-index: 10;
    background: rgba(255, 255, 255, 0.822);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
}

nav>span {
    margin: 10px 5vw;
    font-size: 20px;
    font-weight: 700;
}

.icons {
    width: 30px;
    border: 0;
}


/* Sections (blocks) spacing and style */

.container {
    overflow-x: hidden;
}


/* first white block */

.intro {
    display: flex;
    position: relative;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: white;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.intro>.text {
    z-index: 1;
}

.subtitle {
    opacity: .5;
}

#nvidia-bg {
    display: flex;
    position: absolute;
    width: 100%;
    justify-content: center;
}

#nvidia-bg>img {
    width: 80%;
    min-width: 800px;
    max-width: 1100px;
    opacity: 0.05;
    -webkit-user-drag: none;
}

#annoucements {
    text-align: center;
}

#annoucements img {
    width: 80%;
    border-radius: 10px;
}

#information {
    text-align: initial;
}


/* Black box (generally used for smaller things) */

.subsection {
    padding: 50px;
    color: white;
    background: black;
}


/* Main section for main content */

.space {
    display: block;
    height: 100px;
    background: transparent;
}

.spaced {
    margin: 50px 0;
}

.section {
    display: flex;
    position: relative;
    justify-content: center;
    background: #191919;
    color: #fff;
}

.section.light {
    background: #f7f7f7;
    color: #191919;
}

.section.black {
    background: #000;
}

.split-content {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10vw;
    overflow: hidden;
}

.split-content>div.left {
    align-items: flex-start;
}

.split-content>div {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex-wrap: 1;
}

.split-content img {
    width: 80%;
    max-width: 1380px;
    margin-left: 50px;
}

.main-content {
    width: 100%;
    max-width: 1380px;
    min-height: 600px;
    margin: 0 auto;
    padding: 5vw;
    line-height: 1.5;
    overflow: hidden;
}

.main-content.bigger {
    max-width: 1500px;
    padding: 0;
}

.main-content>div>p {
    line-height: 1.4;
}

.main-content>div>ul {
    line-height: 1.4;
}


/* Button Design | Animation */

.main-link {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
    font-size: 20px;
    font-weight: 700;
}

.main-link>span {
    margin-right: 10px;
    transition: all .2s ease-out;
}

.main-link.small {
    margin: 10px 0;
    font-size: 20px;
}

.main-link:hover span:first-child {
    margin-right: 15px;
}

.btn {
    width: 250px;
    height: 50px;
    margin: 0 auto;
    line-height: 50px;
    text-align: center;
}

.btn-one {
    position: relative;
    color: #5e5e5e;
    transition: all 0.3s;
}

.btn-one span {
    transition: all 0.3s;
}

.btn-one::before {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    content: '';
    opacity: 0;
    transition: all 0.3s;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: rgba(50, 50, 50, 0.5);
    border-bottom-color: rgba(50, 50, 50, 0.5);
    transform: scale(0.1, 1);
}

.btn-one:hover span {
    letter-spacing: 2px;
}

.btn-one:hover::before {
    opacity: 1;
    transform: scale(1, 1);
}

.btn-one::after {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    content: '';
    transition: all 0.3s;
    background-color: rgba(0, 104, 157, 0.19);
}

.btn-one:hover::after {
    opacity: 0;
    transform: scale(0.1, 1);
}


/* Credits */

.footer {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

.footer p {
    font-size: 13px;
    font-weight: 400;
}

.credits {
    font-size: 12px;
}


/* Cards */

.grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card-link {
    transform-style: preserve-3d;
}

card {
    display: flex;
    position: relative;
    width: calc(100vw - 30px);
    max-width: calc(1320px / 3);
    min-height: 350px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.1) 0 10px 20px;
    border-radius: 20px;
    transform-style: preserve-3d;
    transition: all .3s ease-out;
}

card:hover {
    transform: translateY(-15px);
    box-shadow: rgba(0, 0, 0, 0.2) 0 30px 60px;
}

card.small {
    width: calc(100vw - 30px);
    max-width: 400px;
    height: 300px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 10px 20px;
}


/* Card Components */

card>.inner {
    display: flex;
    width: calc(100% - 80px);
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    padding: 20px;
    background: #272727;
    border-radius: 10px;
    color: #fff;
    margin-bottom: 20px;
}

card .full-row {
    display: flex;
    width: calc(100% - 40px);
    justify-content: space-between;
    align-items: center;
}

card .full-row.fullest {
    width: 100%;
}

card>.row-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

card h3 {
    margin: 20px 0;
    color: #272727;
    font-size: 35px !important;
    line-height: 1em;
}

card>.fa-stack {
    font-size: 130% !important;
    margin-top: 15px;
    margin-right: auto;
    margin-left: 10px;
}

card .vert {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

card .vert>.label {
    font-size: 16px;
    opacity: 0.3;
    line-height: 10px;
}

card .vert>.model {
    font-size: 20px;
    font-weight: 600;
}

card .ram-size {
    font-size: 60px;
    opacity: 0.1;
    font-weight: 600;
    line-height: 0;
}

card .stars {
    text-align: right;
}

card .stars svg {
    transition: transform .5s ease-out;
}

card .stars svg:hover {
    transform: rotate(360deg);
    transition: transform .2s ease-out;
}

card .price {
    display: inline;
    padding: 4px 15px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    background: #272727;
    border-radius: 9999px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
    transition: all .2s ease-out;
}

card .price:hover {
    opacity: 0.8;
}


/* FORM */

.form-section {
    display: flex;
    flex-direction: column;
    min-height: 80vh;
    margin: 10vh 0;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

.form-section .text {
    text-align: center;
}

.form-section .text h3 {
    margin: 0;
}

.form-card {
    display: flex;
    margin-top: 50px;
    width: calc(100% - 80px);
    max-width: 1000px;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 15px;
    background: #f7f7f7;
}

form {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

textarea {
    resize: none;
    width: 100%;
    height: 100%;
    border: .5px #1c1e211a solid;
    border-radius: 7px;
    padding: 10px;
    outline: 0;
    -webkit-appearance: none;
    transition: box-shadow .7s cubic-bezier(.26, 0, .33, 1), transform .3s cubic-bezier(.26, 0, .33, 1)
}

input {
    width: 100%;
    height: 50px;
    margin: 10px 0;
    background-color: #edf2f77c;
    border: .5px #1c1e211a solid;
    border-radius: 7px;
    outline: 0;
    padding-left: 10px;
    -webkit-appearance: none;
    transition: box-shadow .7s cubic-bezier(.26, 0, .33, 1), transform .3s cubic-bezier(.26, 0, .33, 1)
}

input:focus {
    box-shadow: #1c1e211e 0 2px 5px;
}

form .block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    margin: 20px;
}

form .block.full {
    flex-grow: initial;
    width: 100%;
}

.grecaptcha-badge {
    display: none;
}

.filepond--credits {
    display: none;
}

.filepond {
    width: 100%;
}

.filepond--drop-label {
    color: #4c4e53;
}

.filepond--label-action {
    text-decoration-color: #babdc0;
}

.filepond--panel-root {
    border-radius: 2em;
    background-color: #edf0f4;
    height: 1em;
}

.filepond--item-panel {
    background-color: #595e68;
}

.filepond--drip-blob {
    background-color: #7f8a9a;
}

.dark-button {
    font-size: 20px;
    font-weight: 500;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 12px 30px;
    border-radius: 8px;
    color: white;
    background: rgba(0, 0, 0, 0.8);
    transition: all .2s ease-out;
}

.dark-button:hover {
    transform: translateY(-4px);
    box-shadow: rgba(0, 0, 0, 0.3) 0 3px 10px;
}

.dark-button:active {
    transition: all 0s;
    transform: translateY(-4px) scale(0.98);
    opacity: 0.6;
}

@media all and (max-width: 1000px) {
    .split-content {
        flex-direction: column;
    }
    .split-content>div {
        align-items: center !important;
        text-align: center;
    }
    .split-content img {
        margin: 0;
    }
}

@media all and (min-width: 700px) {
    h1 {
        font-size: 65px;
    }
    h2 {
        font-size: 35px;
    }
    h3 {
        font-size: 30px;
    }
    p,
    li {
        font-size: 20px;
    }
    .main-link {
        margin: 60px 0;
        font-size: 30px;
    }
}

@media all and (max-width: 400px) {
    h1 {
        font-size: 35px;
    }
    .main-link {
        font-size: 25px;
    }
    .main-content,
    .split-content,
    .subsection {
        padding: 20px 20px;
    }
}